body{
    background-color: aquamarine;
}
header{
    background-color: white;
    margin-top: 0%;
}
main{
    background-color: rgb(0, 0, 0);
    height: 500px;
    width: 1100px;
    margin-top: -25px;
    border: 3px solid green;

}
footer{
background-color: rgb(152, 255, 107);
height: 360px;
}
.b{
    color: greenyellow;
    font-size: 20px
}
.c{
   float: right;
    margin-top: -134px;
    margin-right: 1000px; 
    border-radius: 20px;
    height: 30px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.d{
    float: right;
    margin-top: -134px;
    margin-right: 890px;
    border-radius: 18px;
    width: 100px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.e{
    float: right;
     margin-top: -134px;
    margin-right: 600px;
    border-radius: 10px;
    width: 30px;
    height: 20px;
}
.f{
       float: right;
    margin-top: -134px;
    margin-right: 775px;
    border-radius: 18px;
    width: 100px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.g{
     float: right;
    margin-top: -134px;
    margin-right: 650px;
    border-radius: 18px;
    width: 100px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.i{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
     margin-top: 74px;
}
.j{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 194, 194);
    float: right;
    margin-top: 70px;
}
.k{
 width: 50px;
 height: 30px;
 border-radius:20px ;
}
.button{
     width: 45px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: 'Courier New', Courier, monospace;

}

h2{
    font-family: 'Courier New', Courier, monospace;
}
 h3{
    font-family: 'Courier New', Courier, monospace;
 }
 h4{
    font-family: 'Courier New', Courier, monospace;
 }